@inject IOrderService OrderService
@inject IProductService ProductService
@inject ICustomerService CustomerService
@inject IEmployeeService EmployeeService
@inject IVoucherService VoucherService
@inject IJSRuntime JS

<h3 class="mb-3 text-center">Lịch sử đơn hàng</h3>
<div class="d-flex flex-column flex-md-row align-items-start gap-3 mb-4">

    <div class="d-flex align-items-center gap-2 " id="inputFilterDate">
        <input type="date" id="startDate" @bind="filterStartDate"  class="form-control" />
        <span>-</span>
        <input type="date" id="endDate" @bind="filterEndDate" class="form-control" />
    </div>

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary" id="btnFilterOrder" @onclick="FilterOrder">Tìm kiếm</button>
        <button type="button" class="btn btn-danger @(isFiltered ? "" : "d-none")" @onclick="ResetFilter">Bỏ lọc</button>
    </div>
</div>

<div style="max-height: 800px; overflow-y: auto;">
    <table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Mã đơn</th>
            <th>Khách hàng</th>
            <th>Ngày đặt</th>
            <th>Tổng tiền</th>
            <th>Giảm giá</th>
            <th style="width: 1%">
                <div class="d-flex align-items-center gap-2">
                    <span>Trạng thái:</span>
                    <select class="form-select w-auto" id="filterStatus" @bind="orderStatusFilter" @bind:after="FilterStatus">
                        <option>Tất cả</option>
                        @foreach (OrderStatus s in Enum.GetValues(typeof(OrderStatus)))
                        {
                            <option value="@s">@s</option>
                        }
                    </select>
                </div>
            </th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in orders)
        {
            var color = "";
            @if(@o.Status == OrderStatus.Pending)
            {
                color = "deepskyblue";
            }else if(@o.Status == OrderStatus.Paid)
            {
                color = "forestgreen";
            }
            else
            {
                color = "red";
            }
            <tr>
                <td>@o.OrderId</td>
                <td>@o.Customer?.FullName</td>
                <td>@o.OrderDate.ToString("dd/MM/yyyy")</td>
                <td>@o.TotalAmount.ToString("N0") đ</td>
                <td>@o.DiscountAmount.ToString("N0") đ</td>
                <td><span style="background-color: @color;padding: 2px 8px;border-radius: 4px;text-align: center;">@o.Status.ToString()</span></td>
                <td>
                    <button class="btn btn-info btn-sm" @onclick="async () => await OpenDetail(o.OrderId)">Chi tiết</button>
                        @if (o.Status == OrderStatus.Pending)
                        {
                            <button class="btn btn-danger btn-sm" @onclick="async () => await OnUpdate(o)">Hủy đơn hàng</button>
                        } 
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<DialogContainer IsOpen="@showDialog" IsOpenChanged="OnDialogChanged">
    @currentDialog
</DialogContainer>
@code {
    [Parameter] public int UserId { get; set; }
    private List<Order> orders = new();
    private List<Product> products = new();
    private List<Customer> customers = new();
    private List<Employee> employees = new();
    private List<Voucher> vouchers = new();
    private DateTime today = DateTime.Now;
    bool isFiltered { get; set; } = false;
    string orderStatusFilter { get; set; } = "Tất cả";
    bool showDialog;
    DateTime filterStartDate { get; set; } = DateTime.Now.AddDays(-1);
    DateTime filterEndDate  { get; set; } = DateTime.Now;
    RenderFragment? currentDialog;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetAllWithUserIdAsync(UserId);
    }

    async Task FilterOrder()
    {
        orders = await OrderService.GetByFilterDateWithUserIdAsync(orderStatusFilter, filterStartDate, filterEndDate, UserId);

        isFiltered = true;
    }

    async Task FilterStatus()
    {
        orders = await OrderService.GetByFilterStatusWithUserIdAsync(orderStatusFilter, UserId);
        isFiltered = false;

    }
    async Task ResetFilter()
    {
        orders = await OrderService.GetAllAsync();
        isFiltered = false;
    }

    Task OnDialogChanged(bool v)
    {
        showDialog = v;
        return Task.CompletedTask;
    }

    async Task OpenDetail(int id)
    {
        var order = await OrderService.GetByIdAsync(id);
        await GetAllProduct();
        if(order!=null)
            ShowOrderDetail(order, products);
    }
    async Task GetAllProduct()
    {
        products = await ProductService.GetAllProductAsync();
    }

    async Task GetAllResCreate()
    {
        products = await ProductService.GetAllProductAsync();
        customers = await CustomerService.GetAllAsync();
        employees = await EmployeeService.GetAllAsync();
        vouchers = await VoucherService.GetAllAsync();
    }
    void ShowOrderDetail(Order order, List<Product> products)
    {
        currentDialog = builder =>
        {
            builder.OpenComponent(0, typeof(HistoriesDetail));
            builder.AddAttribute(1, "order", order);
            builder.AddAttribute(2, "Products", products);
            // builder.AddAttribute(4, "OnClose", EventCallback.Factory.Create(this, Close));
            builder.CloseComponent();
        };

        showDialog = true;
        StateHasChanged();
    }
    async Task ReloadTable()
    {
        orders = await OrderService.GetAllWithUserIdAsync(UserId);
    }

    async Task OnUpdate(Order order)
    {
        try 
        {
            order.Status = OrderStatus.Canceled;
            await OrderService.UpdateAsync(order);
            await ShowSuccessUpdate();
            showDialog = false;
            await ReloadTable();
        }
        catch (Exception ex)
        {
            await ShowError();
        }

    }

    private async Task ShowSuccessCreate()
    {
        await JS.InvokeVoidAsync("SwalInterop.ShowSuccess", "Đã tạo đơn hàng!");
    }

    private async Task ShowSuccessUpdate()
    {
        await JS.InvokeVoidAsync("SwalInterop.ShowSuccess", "Đã cập nhật trạng thái đơn hàng!");
    }

    private async Task ShowError()
    {
        await JS.InvokeVoidAsync("SwalInterop.ShowError", "Có lỗi xảy ra!");
    }

    private async Task ShowErrorValue(string error)
    {
        await JS.InvokeVoidAsync("SwalInterop.ShowError", error);
    }

    private async Task ShowConfirm()
    {
        bool confirmed = await JS.InvokeAsync<bool>("SwalInterop.ShowConfirm", "Bạn muốn xóa mục này?");
        if (confirmed)
        {
            Console.WriteLine("Đã xác nhận");
        }
        else
        {
            Console.WriteLine("Đã hủy");
        }
    }
}
