@model QuanLyBanHang.Data.Entities.Order
@{
    ViewData["Title"] = "Chi tiết đơn hàng";
    Layout = null;
    var productOptionsHtml = "";
    foreach (var p in ViewBag.Products)
    {
        productOptionsHtml += $"<option value='{p.Id}' data-price='{p.Price}'>{p.Name}</option>";
    }
}

<form asp-action="Update" method="post" id="orderUpdateForm">
    <input type="hidden" asp-for="OrderId"/>
    @if (@Model.Customer != null)
    {
        <div class="mb-3">
            <label class="fs-5 fw-bold">Khách hàng: <span>@Model.Customer.FullName</span> </label>        
        </div>
    }
    else
    {
        <div class="mb-3">
            <label class="fs-5 fw-bold">Khách hàng: <span>Khách vãng lai</span> </label>        
        </div>
    }
    @if (@Model.Employee != null)
    {
       <div class="mb-3">
            <label class="fs-5 fw-bold">Nhân viên: <span>@Model.Employee.FullName</span></label>
        </div>
    }
    else
    {
        <div class="mb-3">
            <label class="fs-5 fw-bold">Nhân viên: <span>Admin</span></label>
        </div>
    }
    <table class="table table-bordered table-striped" id="tableDetailOrders">
        <thead class="table-primary">
            <tr class="fs-5 fw-bold">
                <th scope="col">Sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.OrderDetails.Count; i++)
            {
                <tr class="fs-5">
                    <td scope="row">
                        @foreach(var p in ViewBag.Products)
                        {
                            if(p.Id == Model.OrderDetails[i].ProductId)
                            {
                                <span>@p.Name</span>
                            }
                        }
                    </td>
                    <td>
                        <span>@Model.OrderDetails[@i].Quantity</span>
                    </td>
                    <td>
                        <span>@Model.OrderDetails[@i].UnitPrice</span>
                    </td>
                    <td>
                        <span>@Model.OrderDetails[@i].SubTotal</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (@Model.Voucher != null)
    {
        <div class="mb-3">
            <label class="fs-5 fw-bold">Khuyến mãi: <span>"@($"{Model.Voucher.Code} - {Model.Voucher.Description}")"</span></label>
        </div>
    }
    else
    {
        <div class="mb-3">
            <label>Khuyến mãi: <span>Không áp dụng</span></label>
        </div>
    }
    <div class="mb-3">
        <label class="fs-5 fw-bold">Phương thức thanh toán: <span id="PaymentMethod">@Model.PaymentMethod</span></label>
    </div>
    <div class="mb-3">
        <label class="fs-5 fw-bold">Tổng tiền: <span id="TotalAmount">@Model.TotalAmount<span> VND</span></span></label>
    </div>
    @if(@Model.Status == OrderStatus.Pending)
    {
        <div class="mb-3">
            <label class="fs-5 fw-bold">Trạng thái đơn</label>
            <select class="fs-5 fw-bold" asp-for="Status" class="form-select w-auto"
                    asp-items="Html.GetEnumSelectList<OrderStatus>()">
                    </select>
        </div>
        <button type="submit" class="btn btn-success">Cập nhật</button>
    }
    else
    {
        <div class="mb-3">
            <label class="fs-5 fw-bold">Trạng thái đơn: <span>@Model.Status</span></label>
            
        </div>
        @* <button type="submit" class="btn btn-success">Cập nhật</button> *@
    }
    <a asp-action="Index" class="btn btn-secondary">Thoát</a>
</form>