
<EditForm Model="order" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <input type="hidden" value="@order.OrderId" />

    <div class="mb-3">
        <label>
            Khách hàng:
            <span>@(order.Customer != null ? order.Customer.FullName : "Khách vãng lai")</span>
        </label>
    </div>

    <div class="mb-3">
        <label>
            Nhân viên:
            <span>@(order.Employee != null ? order.Employee.FullName : "Admin")</span>
        </label>
    </div>

    <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Tổng tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in order.OrderDetails)
                {
                    <tr>
                        <td>@(Products.FirstOrDefault(p => p.Id == detail.ProductId)?.Name ?? "Sản phẩm đã xóa")</td>
                        <td>@detail.Quantity</td>
                        <td>@detail.UnitPrice</td>
                        <td>@detail.SubTotal</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="mb-3">
        <label>
            Khuyến mãi:
            <span>
                @(order.Voucher != null
                    ? $"{order.Voucher.Code} - {order.Voucher.Description}"
                    : "Không áp dụng")
            </span>
        </label>
    </div>

    <div class="mb-3">
        <label>
            Tổng tiền: <span>@order.TotalAmount VND</span>
        </label>
    </div>

    @if (order.Status == OrderStatus.Pending)
    {
        <div class="mb-3">
            <label>Trạng thái đơn</label>
            <InputSelect @bind-Value="_tempStatus" class="form-select">
                @foreach (OrderStatus status in Enum.GetValues(typeof(OrderStatus)))
                {
                    <option value="@status">@status</option>
                }
            </InputSelect>
        </div>

        <button type="submit" class="btn btn-success">Cập nhật</button>
    }
    else
    {
        <div class="mb-3">
            <label>Trạng thái đơn: </label>
            <span>@order.Status</span>
        </div>
    }
</EditForm>

@code {

    [Parameter] public Order order { get; set; }
    [Parameter] public List<Product> Products { get; set; }
    [Parameter] public EventCallback<Order> OnUpdate { get; set; }
    // [Parameter] public EventCallback OnClose { get; set; }

    private OrderStatus _tempStatus;
    private async Task HandleSubmit()
    {
        order.Status = _tempStatus;
        await OnUpdate.InvokeAsync(order);
    }
    // private async Task Close()

    // {

    //     await OnClose.InvokeAsync();

    // }
}
