@page "/orders"
@inject IOrderService OrderService
@inject IProductService ProductService
@inject ICustomerService CustomerService
@inject IEmployeeService EmployeeService
@inject IVoucherService VoucherService
@inject IJSRuntime JS
@rendermode InteractiveServer

<link rel="stylesheet" href="/css/Orders.css" />
<h2 class="mb-4 text-center">Quản lý đơn hàng</h2>

<div class="d-flex align-items-center mb-4 gap-2">
    <label class="form-label mb-0">Lọc theo:</label>
    <select class="form-select w-auto" @bind="typeFilter">
        <option value="1">Tên khách hàng</option>
        <option value="2">Khoảng thời gian</option>
    </select>
</div>

<div class="d-flex flex-column flex-md-row align-items-start gap-3 mb-4">
    <input type="text" id="strFilterOrder" @bind="keyword" name="keyword" class="form-control w-25 @(typeFilter == 1 ? "" : "d-none")" placeholder="Tìm theo tên khách hàng..." />

    <div class="d-flex align-items-center gap-2 @(typeFilter == 1 ? "d-none" : "")" id="inputFilterDate">
        <input type="date" id="startDate" @bind="filterStartDate"  class="form-control" />
        <span>-</span>
        <input type="date" id="endDate" @bind="filterEndDate" class="form-control" />
    </div>

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary" id="btnFilterOrder" @onclick="FilterOrder">Tìm kiếm</button>
        <button type="button" class="btn btn-danger" id="@(isFiltered ? "" : "btnRefreshOrder")"  @onclick="ResetFilter">Bỏ lọc</button>
    </div>
</div>

<button class="btn btn-success mb-3 d-none" @onclick="OpenCreate">Tạo đơn hàng</button>

<div style="max-height: 800px; overflow-y: auto;">
    <table class="table table-bordered table-striped">
    <thead class="table-primary">
        <tr>
            <th scope="col">Mã đơn</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Giảm giá</th>
            <th scope="col">Thanh toán</th>
            <th scope="col" style="width: 1%">
                <div class="d-flex align-items-center gap-2">
                    <span>Trạng thái:</span>
                    <select class="form-select w-auto" id="filterStatus" @bind="orderStatusFilter" @bind:after="FilterStatus">
                        <option>Tất cả</option>
                        @foreach (OrderStatus s in Enum.GetValues(typeof(OrderStatus)))
                        {
                            <option value="@s">@s</option>
                        }
                    </select>
                </div>
            </th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <OrderTable Orders="orders" OnView="OpenDetail" />
    </tbody>
</table>
</div>

<DialogContainer IsOpen="@showDialog" IsOpenChanged="OnDialogChanged">
    @currentDialog
</DialogContainer>

@code {
    private List<Order> orders = new();
    private List<Product> products = new();
    private List<Customer> customers = new();
    private List<Employee> employees = new();
    private List<Voucher> vouchers = new();
    private DateTime today = DateTime.Now;
    string keyword { get; set; } = "";
    bool showDialog;
    bool isFiltered { get; set; } = false;
    string orderStatusFilter { get; set; } = "Tất cả";
    int typeFilter { get; set; } = 1;
    DateTime filterStartDate { get; set; } = DateTime.Now.AddDays(-1);
    DateTime filterEndDate  { get; set; } = DateTime.Now;
    RenderFragment? currentDialog;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetAllAsync();
    }

    async Task FilterOrder()
    {
        if(typeFilter == 1)
        {
            orders = await OrderService.GetByFilterNameAsync(orderStatusFilter, keyword);
        }
        else
        {
            orders = await OrderService.GetByFilterDateAsync(orderStatusFilter, filterStartDate, filterEndDate);
        }
        isFiltered = true;
    }

    async Task FilterStatus()
    {
        orders = await OrderService.GetByFilterStatusAsync(orderStatusFilter);
        keyword = "";
        isFiltered = false;

    }

    async Task<Order?> OrderById(int id)
    {
        return await OrderService.GetByIdAsync(id);
    }

    async Task ResetFilter()
    {
        keyword = "";
        orders = await OrderService.GetAllAsync();
        isFiltered = false;
    }
     async Task GetAllProduct()
    {
        products = await ProductService.GetAllProductAsync();
    }

    async Task GetAllResCreate()
    {
        products = await ProductService.GetAllProductAsync();
        customers = await CustomerService.GetAllAsync();
        employees = await EmployeeService.GetAllAsync();
        vouchers = await VoucherService.GetAllAvailableAsync();
    }

    async Task OpenCreate()
    {
        await GetAllResCreate();

        ShowOrderCreate(products, employees, customers, vouchers);
    }

    void ShowOrderCreate(List<Product> products, List<Employee> employees, List<Customer> customers, List<Voucher> vouchers)
    {
        currentDialog = builder =>
        {
            builder.OpenComponent(0, typeof(OrderCreate));
            builder.AddAttribute(1, "OnCreate", EventCallback.Factory.Create<Order>(this, OnCreate));
            builder.AddAttribute(2, "products", products);
            builder.AddAttribute(3, "employees", employees);
            builder.AddAttribute(4, "customers", customers);
            builder.AddAttribute(5, "vouchers", vouchers);
            builder.AddAttribute(6, "ShowErrorValue", EventCallback.Factory.Create<string>(this, ShowError));
            // builder.AddAttribute(6, "OnClose", EventCallback.Factory.Create(this, Close));
            builder.CloseComponent();
        };
        showDialog = true;
    }

    async Task OpenDetail(int id)
    {
        var order = await OrderById(id);
        await GetAllProduct();

        ShowOrderDetail(order, products);
    }

    void ShowOrderDetail(Order order, List<Product> products)
    {
        currentDialog = builder =>
        {
            builder.OpenComponent(0, typeof(OrderDetail));
            builder.AddAttribute(1, "order", order);
            builder.AddAttribute(2, "Products", products);
            builder.AddAttribute(3, "OnUpdate", EventCallback.Factory.Create<Order>(this, OnUpdate));
            // builder.AddAttribute(4, "OnClose", EventCallback.Factory.Create(this, Close));
            builder.CloseComponent();
        };
        showDialog = true;
        StateHasChanged();
    }


    void Close()
    {
        showDialog = false;
        StateHasChanged();
    }

    async Task OnCreate(Order order)
    {
        try
        {
            var result = await OrderService.CreateAsync(order);
            if (result != null)
            {
                await ShowSuccess("Đã tạo đơn hàng thành công!");
            }
            showDialog = false;
            await ReloadTable();
        }catch(Exception)
        {
            await ShowError("Lỗi! Không thể tạo đơn hàng ngay bây giờ");
        }

    }

    async Task OnUpdate(Order order)
    {
        try 
        {
            var result = await OrderService.UpdateAsync(order);
            if (result != null)
            {
                if(result.Status == OrderStatus.Paid)
                {
                    await ShowSuccess("Đã xác nhận đơn hàng thành công!");
                }
                else
                {
                    await ShowSuccess("Đã từ chối đơn hàng thành công!");
                }
            }
            showDialog = false;
            await ReloadTable();
        }
        catch (Exception)
        {
            await ShowError("Lỗi! Không thể cập nhật trạng thái đơn hàng vào lúc này!");
        }

    }

    async Task ReloadTable()
    {
        orders = await OrderService.GetAllAsync();
    }

    Task OnDialogChanged(bool v)
    {
        showDialog = v;
        return Task.CompletedTask;
    }
    private async Task ShowSuccess(string message)
    {
        await JS.InvokeVoidAsync("SwalInterop.ShowSuccess", message);
    }

    private async Task ShowError(string message)
    {
        await JS.InvokeVoidAsync("SwalInterop.ShowError", message);
    }

    private async Task<bool> ShowConfirm(string message)
    {
        bool confirmed = await JS.InvokeAsync<bool>("SwalInterop.ShowConfirm", message);
        return confirmed;
    }
}

