@inject IJSRuntime JS

    <input type="hidden" value="@order.OrderId" />

    <div class="mb-3">
        <label class="fs-5">
            Khách hàng:
            <span class="fst-italic">@(order.Customer != null ? order.Customer.FullName : "Khách vãng lai")</span>
        </label>
    </div>

    <div class="mb-3">
        <label class="fs-5">
            Nhân viên:
            <span class="fst-italic">@(order.Employee != null ? order.Employee.FullName : "Mua hàng online")</span>
        </label>
    </div>

    <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-bordered table-striped">
            <thead class="table-primary">
                <tr class="fs-5 fw-bold">
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                    <th>Tổng tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in order.OrderDetails)
                {
                    <tr class="fs-5 fst-italic">
                        <td>@(Products.FirstOrDefault(p => p.Id == detail.ProductId)?.Name ?? "Sản phẩm đã xóa")</td>
                        <td>@detail.Quantity</td>
                        <td>@detail.UnitPrice</td>
                        <td>@detail.SubTotal</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="mb-3">
        <label class="fs-5">
            Khuyến mãi:
            <span class="fst-italic">
                @(order.Voucher != null
                    ? $"{order.Voucher.Code} - {order.Voucher.Description}"
                    : "Không áp dụng")
            </span>
        </label>
    </div>

    <div class="mb-3">
        <label class="fs-5">
            Tổng tiền: <span class="fst-italic">@order.TotalAmount VND</span>
        </label>
    </div>

    <div class="mb-3">
        <label class="fs-5">
            Thanh toán bằng: <span class="fst-italic">@(order.PaymentMethod=="Cash"?"Tiền mặt":"Chuyển khoản")</span>
        </label>
    </div>

    <div class="mb-3">
        <label class="fs-5">Trạng thái đơn: <span class="fst-italic" style="background-color: @color;padding: 2px 8px;border-radius: 4px;text-align: center;">@order.Status</span></label>
        
    </div>
    @if (order.Status == OrderStatus.Pending)
    {
        <button type="button" class="btn btn-success" @onclick="async () => await HandlePaid()">Xác nhận đơn</button>
        <button type="button" class="btn btn-danger" @onclick="async () => await HandleCanceled()">Từ chối đơn</button>
    }

@code {

    [Parameter] public Order order { get; set; }
    [Parameter] public List<Product> Products { get; set; }
    [Parameter] public EventCallback<Order> OnUpdate { get; set; }
    // [Parameter] public EventCallback OnClose { get; set; }
    private async Task HandlePaid()
    {
        if (await ShowConfirm("Bạn chắc chắn muốn xác nhận đơn hàng này?")){
        order.Status = OrderStatus.Paid;
        await OnUpdate.InvokeAsync(order);

        }
    }
    private async Task HandleCanceled()
    {
        if (await ShowConfirm("Bạn chắc chắn muốn từ chối đơn hàng này?")){
        order.Status = OrderStatus.Canceled;
        await OnUpdate.InvokeAsync(order);

        }
    }

    string color
    {
        get
        {
            @if(order.Status == OrderStatus.Pending)
            {
                return "deepskyblue";
            }else if(order.Status == OrderStatus.Paid)
            {
                return  "forestgreen";
            }
            else
            {
                return "red";
            }
        }
    }
    private async Task<bool> ShowConfirm(string message)
    {
        bool confirmed = await JS.InvokeAsync<bool>("SwalInterop.ShowConfirm", message);
        return confirmed;
    }
}
